:root {
    /* Colorscheme */
    color-scheme: light dark;
    --spacing: 2rem;
    sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    fill: var(--text-color);
    font-family: "Schibsted Grotesk", sans-serif;
    font-display: swap;
    line-height: 1.75rem;
    max-width: min(80ch, 90vw);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing, 1.75rem) / 2);

}

:target {
    border: 2px solid var(--dark-accent);
    border-radius: 15px;
    padding: calc(var(--spacing)/4);
}

h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 0;
}

/* About Section */
#about {
    display: flex;

    gap: calc(var(--spacing) / 2);

    flex-flow: column-reverse;
    @media (min-width: 768px) {
	flex-flow: row;
    }

    div {
        flex: 1 1 content;
    }

    img, picture {
        flex: 0 0 content;
	width: 100%;
	max-width: 15rem;
	align-self: center;
	height: auto;
    }
}

a {
    text-decoration: none;
    border-bottom: 2px dotted;
    transition: 200ms;
    color: var(--text-color);

    &:hover {
	border-bottom: 2px solid;

    }
}

.chip {
    border: 1px solid var(--dark-accent);
    background-color: var(--light-accent);
    padding: calc(var(--spacing) / 4);
    border-radius: 10px;
    transition: 200ms;

    &:has(a):hover {
        background-color: var(--dark-accent);
        transform: scale(1.1);
    }

    & a {
        border: none;
    }
}

/* Stack Layout */
/* https://every-layout.dev/layouts/stack/ */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-block: 0;
}

.stack > * + * {
    margin-block-start: var(--spacing, 1.5rem);
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#skip-link {
    text-decoration: none;
    background: var(--background-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-gray-90);
    border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* Ensure it is positioned on top of everything else when it is shown */
    z-index: 999;
}

