.postlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postlink h4 {
    margin: 0;
    font-weight: 400;
}


.postlist {
    list-style: none;
    padding: 0;
}





