.postlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--postlist-hover-transition-length);
    padding: calc(var(--spacing) / 4) 0em;
    position: relative;
    border-bottom: 2px solid var(--dark-accent, white);
}



.postlist {
    list-style: none;
    padding: 0;
    --postlist-hover-transition-length: 300ms;

    a:after {
	color: var(--background-color);
	content: "→";
	transition: 200ms;
	border: none;
    }
}

.postlink:has(a:hover) {
    margin-left: calc(var(--spacing)/4);
    margin-right: calc(var(--spacing)/4);

    a:after {
        color: var(--text-color);
    }
    /* transform: scaleX(0.9); */
}

.postlink:after {
    opacity: 0;
    transition: var(--postlist-hover-transition-length);
}

/* .postlink:has(a:hover):after { */
/*     opacity: 1; */
/*     /\* position: absolute; *\/ */
/*     flex-basis: max-content; */
/*     right: 0; */
/*     content: "->"; */
/*     color: darkgray; */
/* } */





