/* begin post.css */
article img {
    aspect-ratio: auto;
    width: 100%;
    height: auto;
}

aside {
    background-color: var(--light-accent);
    padding: var(--spacing);
}

.article-meta {
    display: flex;
    list-style: none;
    gap: var(--spacing);
    padding: 0;
}
/* end post.css */
