/* Blog page css */
article {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    article {
        grid-template-columns: 20ch 10ch 45ch 10ch 20ch;
        gap: 1em;
        row-gap: 2em;
    }

    article > h1,h2,h3 {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    article > p {
        grid-column-start: 2;
        grid-column-end: 5;
        overflow-wrap: break-word;
        margin: 0;
    }

    article > p:has(+ aside) {
        grid-column-end: 4;
    }

    article > aside {
        grid-column-start: 4;
        grid-column-end: 6;
    }

    article > aside::nth-child(even) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}
