---
layout: "layouts/base.njk"
tags: nav
title: about
---

<article>
    <section>
        <h1> About </h1>
    </section>
    <section id="contact">
        <h1> Contact </h1>

        <p>
            If you want to reach out to me directly: feel free to email me at <a href="{{ metadata.author.email }}">{{ metadata.author.email }} </a>. Otherwise, you'll find a list of the various other places I can be found on the web below. The list is short because I have a penchant for deleting social media that I don't use.
        </p>

        <ul>
            <li><a href="https://codeberg.org/jackie"><em>jackie</em> on codeberg.org</a>. This is my preferred git host. As such, you'll find most of my personal development and projects hosted here.</li>
            <li><a href="https://github.com/jdaumeyer"><em>jdaumeyer</em> on github.com</a>. I use github far more sparingly and I haven't really used it in quite some time. But I have not yet found the need to delete the account.</li>
            <li><a href="https://www.last.fm/user/octothorpe_"><em> octothorpe_ </em> on last.fm</a>. In case you want to bear witness to my awful taste in music.</li>
        </ul>
    </section>
    <section id="resume">
        <h1> Resume </h1>
    </section>

        <section id="uses" class="stack">
            <h1> Uses </h1>

            <p>
                A list of all the things I use and why.
            </p>

            <details>
                <summary>Software</summary>
                <ul>
                    <li>Emacs is my main text editor. Although I am an evil-mode user as well because vim kebindings are second nature to me.</li>
                    <li>All of my machines run some variation of NixOS.</li>
                </ul>
            </details>

            <details>
                <summary>Hardware</summary>
                <ul>
                    <li>Lenovo X1 Carbon Gen 5. My current laptop. It still holds up well and I plan to use it for many more years.</li>
                </ul>
            </details>
            <details>
                <summary>Makeup</summary>
            </details>
        </section>
</article>

