---
layout: "layouts/base.njk"
tags: nav
title: blog
---

<section id="bloglist">
<h1> My Blog </h1>
    <style>{% include "css/bloglist.css" %}</style>
{% include "postlist.njk" %}
{% include "taglist.njk" %}
</section>
