---
layout: "layouts/base.njk"
tags: nav
title: home
---

<section id="about">
    <div class="stack">
    <style>{% include "css/animations/slide-in-from-bottom.css" %} </style>
    <h1 class="slide-in-from-bottom"> Hi, I'm <a class="h-card" href="{{metadata.url}}"> {{ metadata.author.name }}</a>! </h1>
    <p>
        I'm a Computer Information Sciences and Human Computer Interaction graduate of the Ohio State University.
        I enjoy reading, cooking, and playing games. And I live in Ohio.
    </p>
    <p>
        This website houses my writing, projects, and documents my life.
    </p>
    </div>
    <img src="img/jackie.png"></img>
</section>

<section id="cards" class="card-holder">
    <style>{% include "css/card.css" %}</style>
    <a class="card" href="/about/#contact">
        <h2>
            <!-- <span class="material-symbols-outlined">mail</span> -->
             Get in touch
        </h2>
        <p> See all the other places that you can find me on the internet. </p>
    </a>
    <a class="card" href="/blog/#follow">
        <h2>
            <!-- <span class="material-symbols-outlined">rss_feed</span> -->
             Follow
        </h2>
        <p> Get updates on all my new blog posts with RSS. </p>
    </a>
    {% include "components/lastfm.njk" %}
</section>

<section id="bloglist">
    <style>{% include "css/bloglist.css" %}</style>
    <h1><a href="/blog/"> Blog </a><span class="material-symbols-outlined">arrow_outward</span></h1>
  {% include "taglist.njk" %}
  {% include "postlist.njk" %}
</section>
