<!-- <style>{% include "css/footer.css" %}</style> -->
<footer>
<!--    <div class="colophone">
        <em> Built using <a href="https://www.11ty.dev/">{{ eleventy.generator }} </a></em>.
        <em> Hosted with <a href="https://codeberg.org/"> Codeberg Pages </a>.</em>
            <em> View the <a href="https://codeberg.org/jackie/jdaumeyer">source code</a>.</em>
    </div>
    <nav class="sitemap">
        <ul>
            <li>
                <a href="/posts">posts</a>
                <ul>
                    <li><a href="/tagsx"> tagx </a></li>
                    <li><a href="/tagsy"> tagy </a></li>
                    <li><a href="/now"> now </a></li>
                </ul>
            </li>
            <li><a href="/contact"> contact </a></li>
            <li><a href="/feed"> feed </a></li>
        </ul>
    </nav> -->
    <span>Built using <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>.</span>
    <span>Hosted with <a href="https://codeberg.org">Codeberg</a>.</span>
    <span>Made with love by <a href="https://jdaumeyer.com">me</a>.</span>
</footer>
