<footer>
    <em>Built using <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
    <nav>
        <ul>
            <li>
                <a href="/posts">posts</a>
                <ul>
                    <li><a href="/tagsx"> tagx </a></li>
                    <li><a href="/tagsy"> tagy </a></li>
                    <li><a href="/now"> now </a></li>
                </ul>
            </li>
            <li><a href="/contact"> contact </a></li>
            <li><a href="/feed"> feed </a></li>
        </ul>
    </nav>
</footer>
