<style>{% include "css/postlist.css" %}</style>
<ol id="postlist" class="postlist stack h-feed">
    {%- for post in collections.posts -%}
        <li class="postlink h-entry">
            <a class="u-url" href="{{post.url}}"> {{ post.data.title }} </a>
            <time class="dt-published" datetime="{{ post.data.date}}"> {{ post.data.date | date }} </time>
        </li>
    {%- endfor -%}
</ol>
