<!-- begin postlist.njk -->
<ol id="postlist" class="postlist stack h-feed">
    {%- for post in collections.posts -%}
        <li class="postlink h-entry">
            <a class="u-url" href="{{post.url}}"> {{ post.data.title }} </a>
            <time class="dt-published" datetime="{{ post.data.date}}"> {{ post.data.date | date }} </time>
        </li>
    {%- endfor -%}
</ol>
<!-- end postlist.njk -->

<style>
 /* begin postlist.njk */
 .postlink {
     /* flex */
     display: flex;
     align-items: center;
     justify-content: space-between;

     transition: var(--postlist-hover-transition-length);
     padding: calc(var(--spacing)) 0em;
     position: relative;
     border-bottom: 2px solid var(--dark-accent, white);

     &:last-of-type {
	 border-bottom: none;
     }

     &:after {
	 opacity: 0;
	 transition: var(--postlist-hover-transition-length);
     }
 }

 .postlist {
     --spacing: 0.5rem;
     list-style: none;
     padding: 0;
     --postlist-hover-transition-length: 300ms;

     a:after {
	 color: var(--background-color);
	 content: "→";
	 transition: 200ms;
	 border: none;
     }
 }

 .postlink:has(a:hover) {
     margin-left: calc(var(--spacing)/4);
     margin-right: calc(var(--spacing)/4);

     a:after {
	 color: var(--text-color);
     }
 }

 /* end postlist.njk */
</style>
