<!-- begin postlist.njk -->
<ol id="postlist" class="postlist stack h-feed">
    {%- for post in collections.posts -%}
        <li class="postlink h-entry">
            <a class="u-url" href="{{post.url}}"> {{ post.data.title }} </a>
            <time class="dt-published" datetime="{{ post.data.date}}"> {{ post.data.date | date }} </time>
        </li>
    {%- endfor -%}
</ol>
<!-- end postlist.njk -->

<style>
 /* begin postlist.njk */
 .postlist {
     --spacing: 0.5rem;
     list-style: none;
     padding: 0;
     --postlist-hover-transition-length: 300ms;

 }

 .postlink {
     /* flex */
     display: flex;
     align-items: center;
     justify-content: space-between;

     transition: var(--postlist-hover-transition-length);
     padding: calc(var(--spacing)) 0em;
     position: relative;
     border-bottom: 2px solid var(--dark-accent, white);

     &:last-of-type {
	 border-bottom: none;
     }

     /* Arrow on hover */
     a:after {
	 color: var(--background-color);
	 content: "→";
	 width: 0ch;
	 transition: 200ms;
	 border: none;
     }

     &:has(a:hover) {
	 margin-left: calc(var(--spacing) * 1.5);
	 margin-right: calc(var(--spacing) * 1.5);

	 a:after {
	     color: var(--text-color);
	     width: 1ch;
	 }
     }
 }
/* end postlist.njk */
</style>
