{% macro taglist(taglist, title="Tags", icon=true, class="chip") %}
<div class="taglist-wrapper">
    {% if title != "" %}
	<h2>{{ title }}</h2>
    {% endif %}
    <ul class="taglist">
	{% for tag in taglist | getKeys | filterTagList | alphabetically %}
            {% set tagUrl %}/tags/{{tag | slugify}}/{% endset %}
            <li class="{{ class }}">
		<a href="{{ tagUrl }}" class="post-tag">
		    {% if icon == true %}
			{% tagicon tag %}
		    {% endif %}
		    {{ tag }}
		</a>
	    </li>
	{% endfor %}
    </ul>
</div>
{% endmacro %}
