<script>
 const user = "octothorpe_";
 const url = `https://lastfm-last-played.biancarosa.com.br/${user}/latest-song`;
 fetch(url)
     .then((response) => {
	 if (response.ok) {
	     return response.json();
	 } else {
	     throw new Error("lastfm.njk: response error " + response.status);
	 }
     })
     .then((body) => {
	 const song = body.track;

	 document.querySelector("#last-fm-song-name").innerText = song.name;
	 document.querySelector("#last-fm-artist-name").innerText = "By " + song.artist["#text"];
     })
     .catch((error) => {
	 console.log(error);
	 document.querySelector("#last-fm-song-name").innerText = "Error fetching song";
     });
</script>

<!-- begin lastfm.njk -->
<a href="https://www.last.fm/user/octothorpe_" id="last-fm-link" class="card">
    <h2>
	<i class="fa fa-music"></i>&nbsp;&nbsp;
	Last played song
    </h2>
    <p>
	<span id="last-fm-song-name"> Fetching... </span>
	<span id="last-fm-artist-name"> </span>
    </p>
</a>
<!-- end lastfm.njk -->
