<!doctype html>

<html>
<head>
  <title> {{ title or metadata.title }} </title>

  <style>{% include "css/index.css" %}</style>
  <style>{% getBundle "css" %}</style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
  <header>
    <span> {{metadata.title}} </span>
    <nav>
      <ul>
        <li><a href="/"> /home </a></li>
        <li><a href="/now"> /now </a></li>
        <li><a href="/resume"> /résumé </a></li>
        <li><a href="/feed"> /follow </a></li>
      </ul>
    </nav>
  </header>

  <main id="main" class="stack">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>
