<!doctype html>

<html>
<head>
  <title> {{ metadata.title }} </title>

  <style>{% include "css/index.css" %}</style>
  <style>{% include "css/colors/monochrome.css" %}</style>
  <style>{% include "css/animations/slide-in-from-bottom.css" %}</style>
  <style>{% getBundle "css" %}</style>
  <script>{% getBundle "js" %}</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

  {% include "header.njk" %}
  <main id="main" class="stack">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</body>
</html>
